body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #020617;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  color: #facc15;
}

/* HERO */
.hero {
  text-align: center;
  padding: 40px;
}

/* ARTISTAS */
.artistas {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  width: 200px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #facc15;
  cursor: pointer;
  border-radius: 10px;
}

/* PLAYER */
.player {
  text-align: center;
  padding: 30px;
}
